p {
  font-family: arial;
  margin: 0;
  text-align: center;
}
.h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.apple {
  font-weight: bold;
  margin-bottom: 10px;
}
a {
text-decoration: none;
color: #0079f2;
font-weight: bold;
}